@charset "UTF-8";


/* social sns 공유하기 이미지에 마우스 hover시 pointer 주기 */
.snsShare {
	cursor: pointer;
}

/* 생년월일 div 와 관련된 css설정*/
.writeBirth {
	display: block;
}

.writeBirth .birthText {
	font-size: 14px;
	color: #999;
	float: left;
}

.writeBirth .birthText input {
	text-align: center
}

.writeBirth>div {
	float: left;
}

.writeBirth .hyphen {
	line-height: 40px;
	text-align: center;
	float: left;
	color: #a0a0a0;
	margin-left: 7px;
}

.writeBirth::after {
	display: block;
	clear: both;
	content: "";
}

.writeBirth .birthText .birthGender {
	width: 40px;
	height: 40px;
	text-align: left;
}

.writeTitle {
	margin-bottom: 7px;
	font-weight: 1000;
	color: #333;
}

input[type='text'], input[type='password'], input[type='number'] {
	padding: 0 5px 0 10px;
	margin: 2px;
}

#joinForm {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-device-width : 481px) and (max-device-width
	: 700px) {
	#joinForm {
		width: 70%;
	}
}

@media only screen and (max-device-width : 480px) {
	#joinForm {
		width: 101%;
	}
}

#addressBtn {
	height: 40px;
	line-height: 10px;
}

.w3-round-large {
	height: 50px;
	line-height: 10px;
	margin-right: 10px;
}

.serviceTitle {
	border-bottom: 1px solid #cdc0c0a6;
}