<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	 
	<resultMap type="boardDTO" id="boardResultMap">
		<result column="BOARD_IDX"  property="boardIdx"/>
		<result column="BOARD_SUBJECT"  property="boardSubject"/>
		<result column="BOARD_CONTENT"  property="boardContent"/>
		<result column="BOARD_FILE"  property="boardFile"/>
		<result column="BOARD_RE_REF"  property="boardReRef"/>
		<result column="BOARD_LEV"  property="boardLev"/>
		<result column="BOARD_RE_SEQ"  property="boardReSeq"/>
		<result column="BOARD_COUNT"  property="boardCount"/>
		<result column="BOARD_DATE"  property="boardDate"/>
		<result column="BOARD_TYPE"  property="boardType"/>
		<result column="BOARD_COSMETIC_NUM"  property="boardCosmeticNum"/>
		<result column="BOARD_PARENT"  property="boardParent"/>
		<result column="BOARD_USE_SCORE"  property="boardUseScore"/>
		<result column="USER_KEY"  property="boardUserKey"/>
	</resultMap>

	<select id="boardSearch" parameterType="String" resultMap="boardResultMap">
		SELECT * 
		FROM BOARD_TB WHERE BOARD_SUBJECT LIKE '%' || #{boardSubject} || '%'
	</select>
	
	
	<select id="boardMaxIdx" resultType="int" >
		SELECT MAX(BOARD_IDX)
		FROM BOARD_TB 			
	</select>
	
	<select id="boardSelectAll" resultMap="boardResultMap">
		SELECT * 
		FROM BOARD_TB
	</select>
	
	<insert id="boardInsert" parameterType="boardDTO">
		INSERT INTO
				BOARD_TB
		 VALUES
			(#{boardIdx},#{boardSubject},#{boardContent},#{boardFile},1,1,1,
				1,SYSDATE,#{boardType},#{boardCosmeticNum},1,#{boardUseScore},#{boardUserKey})
	</insert>
	
	
</mapper>	








