<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	 
	<resultMap type="boardDTO" id="boardResultMap">
		<result column="BOARD_IDX"  property="boardIdx"/>
		<result column="BOARD_SUBJECT"  property="boardSubject"/>
		<result column="BOARD_CONTENT"  property="boardContent"/>
		<result column="BOARD_FILE"  property="boardFile"/>
		<result column="BOARD_RE_REF"  property="boardReRef"/>
		<result column="BOARD_LEV"  property="boardLev"/>
		<result column="BOARD_RE_SEQ"  property="boardReSeq"/>
		<result column="BOARD_COUNT"  property="boardCount"/>
		<result column="BOARD_DATE"  property="boardDate"/>
		<result column="BOARD_TYPE"  property="boardType"/>
		<result column="BOARD_COSMETIC_NUM"  property="boardCosmeticNum"/>
		<result column="BOARD_PARENT"  property="boardParent"/>
		<result column="BOARD_USE_SCORE"  property="boardUseScore"/>
		<result column="USER_KEY"  property="boardUserKey"/>
	</resultMap>

	<select id="boardSearch" parameterType="int" resultMap="boardResultMap">
		SELECT * 
		FROM BOARD_TB WHERE BOARD_IDX =#{boardIdx} 
	</select>
	
	<select id="boardMaxIdx" resultType="int" >
		SELECT MAX(BOARD_IDX)
		FROM BOARD_TB 			
	</select>
	
	<select id="boardSelectAll" resultMap="boardResultMap">
		SELECT * 
		FROM BOARD_TB
	</select>
	
	<insert id="boardInsert" parameterType="boardDTO">
		INSERT INTO
				BOARD_TB
		 VALUES
			(#{boardIdx},#{boardSubject},#{boardContent},'1',#{boardReRef},#{boardLev},#{boardReSeq},
				0,SYSDATE,1,#{boardCosmeticNum},#{boardParent},#{boardUseScore},#{boardUserKey})
	</insert>
	
	<update id="updateCount" parameterType="int">
		UPDATE BOARD_TB
		SET BOARD_COUNT = BOARD_COUNT+1
		WHERE BOARD_IDX=#{boardIdx}
	</update>
	
	
	<update id="updateReSeq" parameterType="boardDTO">
		UPDATE BOARD_TB 
		SET BOARD_RE_SEQ = BOARD_RE_SEQ+1
		WHERE BOARD_RE_REF = #{boardReRef} and BOARD_RE_SEQ=#{boardReSeq}
	</update>
	
	
<select id="listAll" parameterType="hashMap"  resultMap="boardResultMap">
    <!-- 목록 조회 및 페이징 전체 쿼리 -->
    <include refid="pagingHeader"></include>
        SELECT *
        FROM BOARD_TB
        order by BOARD_RE_REF desc , BOARD_RE_SEQ asc
    <include refid="pagingFooter"></include>    
</select>
				<!-- 페이징 sql -->
				<sql id="pagingHeader">
				    SELECT * FROM (
				        SELECT ROWNUM AS rn, A.* FROM (
				</sql>
				<sql id="pagingFooter">
				        ) A
				    ) WHERE rn BETWEEN #{start} AND #{end}
				</sql>
	
</mapper>	








