<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
	 <resultMap type="productImagePathDTO" id="imgResultMap">
	 	<id column="NUM_OF_PROD_IDX" property="numOfProdIdx"/>
	 	<result column="CODE_OF_PROD" property="codeOfProd"/>
	 	<result column="PATH_OF_IMAGE" property="pathOfImage"/>
	 </resultMap>
	 
	 <resultMap type="kindsOfProductTypeDTO" id="prdOptionReultMap">
	 	<id column="CODE_OF_PROD" property="codeOfProd"/>
	 	<result column="PROD_IDX" property="prodIdx"/>
	 	<result column="PROD_COUNT" property="prodCount"/>
	 	<result column="PROD_PRICE" property="prodPrice"/>
	 	<result column="PROD_COLOR" property="prodColor"/>
	 	<result column="PROD_NAME" property="prodName"/>
	 	<collection property="imgDTO" resultMap="imgResultMap"></collection>
	 </resultMap>
 
 	<resultMap type="cosmeticProductDTO" id="productResultMap">
		<id column="PROD_IDX"  property="prodIdx"/>
		<result column="BRAND_TYPE_IDX"  property="brandTypeIdx"/>
		<result column="SUB_TYPE_IDX"  property="subTypeIdx"/>
		<result column="FACE_TYPE_ID"  property="faceTypeId"/>
		<result column="COSM_NAME"  property="cosmName"/>
		<result column="PA_VALUE"  property="paValue"/>
		<result column="SPF_VALUE"  property="spfValue"/>
		<result column="PROD_INFOTYPE"  property="prodInfoType"/>
		<result column="PROD_INTRODUCE"  property="prodIntroduce"/>
		<result column="COSM_RELEASE_DATE"  property="cosmReleaseDate"/>
		<collection property="optionList" resultMap="prdOptionReultMap"></collection>
	</resultMap>
	
	<select id="codeImgSelect" resultMap="imgResultMap">
		SELECT * 
		FROM  PRODUCT_IMAGE_PATH_TB 
		WHERE CODE_OF_PROD=#{codeOfProd} 
		ORDER BY NUM_OF_PROD_IDX
	</select>
	
	<select id="searchPrdName" parameterType="String" resultType="String">
		SELECT "MAIN".MAIN_TYPE_IDX||')'||"SUB".SUB_TYPE_IDX||')'||"SUB".SUB_NAME||')'||"COSM_PROD".PROD_IDX||')'||"COSM_PROD".COSM_NAME||')'||
		"COSM_PROD".PROD_INTRODUCE||')'||"COSM_PROD".PROD_INFOTYPE||')'||"KIND_PROD".CODE_OF_PROD||')'||"KIND_PROD".PROD_NAME
		||')'||"PROD_IMG".NUM_OF_PROD_IDX||')'||"PROD_IMG".PATH_OF_IMAGE as data
		FROM COSMETIC_MAIN_TYPE_TB "MAIN" 
 		INNER JOIN COSMETIC_SUB_TYPE_TB "SUB"
    	ON "MAIN".MAIN_TYPE_IDX = "SUB".MAIN_TYPE_IDX
  		INNER JOIN COSMETIC_PRODUCT_TB "COSM_PROD"
  		ON "SUB".SUB_TYPE_IDX = "COSM_PROD".SUB_TYPE_IDX
  		INNER JOIN KINDS_OF_PRODUCT_TYPE_TB "KIND_PROD"
   		ON "COSM_PROD".PROD_IDX = "KIND_PROD".PROD_IDX
   		INNER JOIN PRODUCT_IMAGE_PATH_TB "PROD_IMG"
   		ON "KIND_PROD".CODE_OF_PROD = "PROD_IMG".CODE_OF_PROD
   		WHERE "MAIN".MAIN_TYPE_IDX||')'||"SUB".SUB_TYPE_IDX||')'||"SUB".SUB_NAME||')'||"COSM_PROD".PROD_IDX||')'||"COSM_PROD".COSM_NAME||')'||
		"COSM_PROD".PROD_INTRODUCE||')'||"COSM_PROD".PROD_INFOTYPE||')'||"KIND_PROD".CODE_OF_PROD||')'||"KIND_PROD".PROD_NAME
		||')'||"PROD_IMG".NUM_OF_PROD_IDX||')'||"PROD_IMG".PATH_OF_IMAGE LIKE   '%'|| #{productName} || '%'
	</select>

	<select id="productSelectAll" resultMap="productResultMap">
		SELECT * FROM COSMETIC_PRODUCT_TB 
		WHERE SUB_TYPE_IDX = #{subTypeIdx}
	</select>
	
	<select id="productSelectAllBySubIdx" parameterType="int" resultMap="productResultMap">
		SELECT prd.*,kprd.*,iprd.*
		FROM COSMETIC_PRODUCT_TB prd LEFT JOIN KINDS_OF_PRODUCT_TYPE_TB kprd 
		ON  prd.PROD_IDX=kprd.PROD_IDX
		LEFT JOIN PRODUCT_IMAGE_PATH_TB iprd
		ON  kprd.CODE_OF_PROD=iprd.CODE_OF_PROD
		WHERE prd.SUB_TYPE_IDX = #{subTypeIdx}
		ORDER BY prd.PROD_IDX ASC, kprd.CODE_OF_PROD ASC, iprd.NUM_OF_PROD_IDX ASC
	</select>
	
	<select id="productSelectAllByProdIdx" parameterType="int" resultMap="productResultMap">
		SELECT prd.*,kprd.*,iprd.* 
		FROM COSMETIC_PRODUCT_TB prd LEFT JOIN KINDS_OF_PRODUCT_TYPE_TB kprd 
		ON  prd.PROD_IDX=kprd.PROD_IDX
		LEFT JOIN PRODUCT_IMAGE_PATH_TB iprd
		ON  kprd.CODE_OF_PROD=iprd.CODE_OF_PROD
		WHERE prd.PROD_IDX = #{prodIdx}
		ORDER BY prd.PROD_IDX ASC, kprd.CODE_OF_PROD ASC, iprd.NUM_OF_PROD_IDX ASC
	</select>
	
	<insert id="procuctInsert" parameterType="cosmeticProductDTO">
		INSERT INTO COSMETIC_PRODUCT_TB VALUES (#{prodIdx},#{brandTypeIdx},#{subTypeIdx},#{faceTypeId},#{cosmName},#{paValue},#{spfValue},#{prodIntroduce},#{cosmReleaseDate})
	</insert>
	
	<update id="productUpdateByProdIdx" parameterType="cosmeticProductDTO">
		UPDATE COSMETIC_PRODUCT_TB, 
		SET BRAND_TYPE_IDX = #{brandTypeIdx}
		, SUB_TYPE_IDX = #{subTypeIdx}
		, FACE_TYPE_ID = #{faceTypeId}
		, COSM_NAME = #{cosmName}
		, PA_VALUE = #{paValue}
		, SPF_VALUE = #{spfValue}
		, PROD_INTRODUCE = #{prodIntroduce}
		, COSM_RELEASE_DATE = #{cosmReleaseDate}
		where PROD_IDX = #{prodIdx}
	</update>
	
	<delete id="productDeleteByProdIdx" parameterType="int">
		DELETE FROM COSMETIC_PRODUCT_TB WHERE PROD_IDX = #{prodIdx}
	</delete>
</mapper>