<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userTokenMapper">

	<insert id="createTokenByUserToken" parameterType="userTokenDTO">
		INSERT INTO USER_TOKEN_TB VALUES ( #{userKeyPkFk} , #{userToken} )
	</insert>
	
	<delete id="removeTokenByUserToken" parameterType="userTokenDTO">
		DELETE FROM USER_TOKEN_TB WHERE USER_KEY = #{userKeyPkFk} AND USER_TOKEN = #{userToken} 	
	</delete>
	
</mapper>