<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

	<resultMap type="userDTO" id="userResultMap">
		<result column="USER_KEY" property="userKey" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PASSWORD" property="userPassword" />
		<result column="USER_NAME" property="userName" />
		<result column="USER_GENDER" property="userGender" />
		<result column="USER_BIRTH" property="userBirth" />
		<result column="USER_PHONE" property="userPhone" />
		<result column="USER_EMAIL" property="userEmail" />
		<result column="USER_ADDR" property="userAddr" />
		<result column="USER_ANSWER" property="userAnswer" />
		<result column="USER_POINT" property="userPoint" />
		<result column="USER_TOTAL_POINT" property="userTotalPoint" />
		<result column="USER_JOIN_DATE" property="userJoinDate" />
		<result column="RATING_TYPE" property="ratingType" />
		<result column="QUESTION_KEY" property="questionKey" />
	</resultMap>

	<insert id="insertUser" parameterType="userDTO"  >
		INSERT INTO USER_TB 
		    VALUES ( #{userKey} , #{userId} , #{userPassword} ,
		             #{userName} , #{userGender} , #{userBirth} , 
		             #{userPhone} , #{userEmail}, #{userAddr} ,
		             #{userAnswer} , 0 , 0 , SYSDATE , 'A' , ${questionKey} )
	</insert>


	<select id="userMaxIdx" resultType="String">
		SELECT MAX(USER_KEY) FROM
		USER_TB
	</select>
	
	<select id="selectUserById" parameterType="String" resultMap="userResultMap">
		SELECT * FROM USER_TB WHERE USER_ID = #{userId}
	</select>
	
</mapper>